body{
    /* width: 1910px; */
    background-color: #ffffff;

}


#zz{
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20px;
    left: -20px;
    animation: aa 1s ease-in-out, shrink 1s ease-in-out forwards 1s;
    z-index: 999;
}
@keyframes aa{
    from{
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }
    to{
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
}
@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

#kaip{
    background-color: #000000;
    width: 960px;
    height: 120%;
    position: fixed;
    top: -20px;
    left: 0px;
    z-index: 997;
    transform-origin: top left;
    animation: kp 1s ease-in-out forwards;
}
@keyframes kp{
    from{
        transform:scaleX(1)
    }
    to{
        transform:scaleX(0)
    }
}

#kaip2{
    background-color: #000000;
    width: 960px;
    height: 120%;
    position: fixed;
    top: -20px;
    left: 960px;
    z-index: 997;
    transform-origin: top right;
    animation: kp2 1s ease-in-out forwards;
}
@keyframes kp2{
    from{
        transform:scaleX(1)
    }
    to{
        transform:scaleX(0)
    }
}

nav{
    position: relative;
    top: 40px;
    left: 800px;
}

.zz a{
    z-index: 10;
}

.bs a{
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    display: inline-block;
    margin-right: 70px;
}


@keyframes moveRight {
    from {
        left: 800px;
    }
    to {
        left: 750px;
    }
}

.move-right {
    animation: moveRight forwards 1s ease;
}


#dhyd{
    opacity: 1;
    position: absolute;
    z-index:3;
    transition: opacity 1s ease;
    transition: left 1s ease;
}


.bs{
    width: 100%;
    height: 100px;
    position: absolute;
    top: -20px;
    left: -20px;
    position: fixed;
    z-index: 4;
    animation: bs 1s ease;
}

@keyframes bs{
    from{
        left: 70px;
    }
    to{
        left: -20px;
    }
}

#dhyd a{
    color: #000;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    display: inline-block;
    margin-right: 70px;
}

#dhyd a:hover{
    color: #000;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}


#bttm{
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    position: fixed;
    top: -20px;
    left: 0px;
    opacity: 1;
    z-index: 4;
    transition: opacity 0.5s ease;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 4px 9px 15px rgba(0, 0, 0, 0.3);
}

a {
    color: #000;
    text-decoration: none;
  }

.DLW{
    font-family: 华文琥珀;
    font-size: 45px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 6;
}

.DLW-zy{
    width: 270px;
    height: 0px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: #000;
}

.img{
    position: fixed;
    top: -50px;
    transform: scale(1.1);
}

/* .bjx{
    width: 100px;
    height: 10000px;
    position: absolute;
    top: 500px;
    left: 200px;
    background-color: #000;
} */

.zybj{
    width: 100%;
    height: 10000px;
    position: absolute;
    top: 400px;
    left: 0px;
    background-color: #ffffff;
    z-index: 1;
}

.wzxz{
    width: 50%;
    font-family: 宋体;
    font-size: 30px;
    position: absolute;
    top: 0%;
    left: 25%;
    z-index: 6;
}


.bt-1{
    width: 50%;
    height: 200px;
    /* opacity: 0.5; */
    /* background-color: #000; */
    position: absolute;
    font-size: 25px;
    top: 190px;
    left: 400px;
    z-index: 1;
}