body{
    /* width: 1920px; */
    background-color: #505050;

}


#zz{
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 120%;
    position: fixed;
    top: -20px;
    left: -20px;
    animation: aa 1s ease-in-out, shrink 1s ease-in-out forwards 1s;
    z-index: 999;
}
@keyframes aa{
    from{
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }
    to{
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
}
@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

#kaip{
    background-color: #000000;
    width: 960px;
    height: 120%;
    position: fixed;
    top: -20px;
    left: 0px;
    z-index: 997;
    transform-origin: top left;
    animation: kp 1s ease-in-out forwards;
}
@keyframes kp{
    from{
        transform:scaleX(1)
    }
    to{
        transform:scaleX(0)
    }
}

#kaip2{
    background-color: #000000;
    width: 960px;
    height: 120%;
    position: fixed;
    top: -20px;
    left: 960px;
    z-index: 997;
    transform-origin: top right;
    animation: kp2 1s ease-in-out forwards;
}
@keyframes kp2{
    from{
        transform:scaleX(1)
    }
    to{
        transform:scaleX(0)
    }
}

nav{
    position: relative;
    top: 40px;
    left: 800px;
}

.zz a{
    z-index: 10;
}

.bs a{
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    display: inline-block;
    margin-right: 70px;
}


@keyframes moveRight {
    from {
        left: 800px;
    }
    to {
        left: 750px;
    }
}

.move-right {
    animation: moveRight forwards 1s ease;
}


#dhyd{
    opacity: 0;
    position: absolute;
    z-index:3;
    transition: opacity 1s ease;
    transition: left 1s ease;
}
#dhyd1{
    opacity: 0;
    z-index:6;
    position: relative;
    top: 40px;
    z-index: 10;
    transition: opacity 1s ease;
    transition: left 1s ease;
}

#tmdh{
    opacity: 1;
    z-index: 6;
    transition: opacity  1s ease;
}

.bs{
    width: 100%;
    height: 100px;
    position: absolute;
    top: -20px;
    left: -20px;
    position: fixed;
    z-index: 4;
}

#bttm{
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 0px;
    position: absolute;
    opacity: 0;
    z-index: 4;
    transition: opacity 0.5s ease;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}
#bttm1{
    background-color: #ffffff;
    width: 120%;
    height: 100px;
    position: absolute;
    opacity: 0;
    z-index: 4;
    transition: opacity 0.5s ease;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

#btm{
    width: 100%;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

a {
    color: #000;
    text-decoration: none;
  }

.DLW{
    font-family: 华文琥珀;
    font-size: 45px;
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 6;
}

.DLW-zy{
    width: 270px;
    height: 80px;
    position: absolute;
    opacity: 0.5;
    top: 10px;
    z-index: 1000;
    /* background-color: #000; */
}


.img{
    position: fixed;
    top: -50px;
    transform: scale(1.1);
}

.zbox{
    width: 100%;
    justify-content: space-around;
    position: relative;
    top: 740px;
}

.box{
    width: 300px;
    height: 400px;
    position: relative;
    top: 220px;
    left: 160px;   
}

.box1{
    width: 300px;
    height: 400px;
    position: relative;
    top: 250px;
    left: 160px;   
}

.box2{
    width: 300px;
    height: 400px;
    position: relative;
    top: 280px;
    left: 160px;   
}

.xg{
    background-color: #ffffff;
    z-index: 3;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 4px 9px 15px rgba(0, 0, 0, 0.5);
}

.zhuy{
    width: 1200px;
    height: 1700px;
    position: absolute;
    top: 1050px;
    left: 500px;
    z-index: 3;
}

#xia{
    width: 150px;
    position: relative;
    top: 900px;
    left: 920px;
    z-index: 7;
    transition: opacity 0.5s ease;
    animation: sxx 1s alternate ease-in-out infinite;
}
#xia2{
    position: relative;
    left: -29px;
}
@keyframes sxx {
    from{top: 770px;}
    to{top: 790px;}
}


.tp1 {
    transform: scale(0.5);
    z-index: 10;
    position: relative;
    top: -40px;
    transition: transform 1s ease; /* 确保在初始状态下也是可变的 */
}

.tp1:hover {
    transform: scale(0.5) rotate(360deg); /* 在鼠标悬停时同时应用缩放和旋转 */
}


.box p{
    position: relative;
    top: -125px;
    left: 80px;
    font-size: 24px;
    font-weight: bold;
}


.lj1{
    width: 200px;
    height: 50px;
    background-color: #15ff0028;
    border-radius: 45px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    top: -100px;
    left: 53px;
}

.lj1:hover{
    transition: 1s ease;
}

.lj2{
    width: 200px;
    height: 50px;
    background-color: #1fff01;
    border-radius: 45px;
    position: relative;
    left: -200px;
    transition: left 0.5s ease;    
}
.lj1:hover .lj2{
    left: 0px;
}
.lj1:not(:hover) .lj2 {
    left: -200px;
}

.gz1{
    position: relative;
    top: 60px;
    left: -3px;
}



/* .jzbox1{
     width: 100px;
    height: 100px;
    background-color: #000000;
    animation: jzdh 1s ease;
    animation-timeline: var();
    animation-range: entry 0 cover 40%;
} */

@keyframes jzdh {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.jzbox{
    opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-40%);
}
.active {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .jzbox2{
    opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(10%);
}
.active2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

.bbox-dh{
    opacity: 0;
  filter: blur(10px);
  transition: all 1.5s;
  transform: translateY(60%);
}
.active3 {
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
  }






  .bbox{
    width: 950px;
    height: 10px;
    /* background-color: #000000; */
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .xg-x{
    background-color: #ffffff;
    z-index: 3;
    border-radius: 17px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    box-shadow: 4px 9px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}
.bbox-xs{
    width: 1050px;
    height: 100px;
    background-color: #000000;
}
.bbox-x1{
    width: 950px;
    height: 300px;
    /* background-color: #000000; */
    overflow: hidden;
}
.bbox-img{
    width: 50%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}
.bbox-img2{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 500px;
    background-color: #000000;
    overflow: hidden;
}
.bbox-wzk1{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 53%;
    top: 10%;
    /* background-color: #ffffff; */
    z-index: 4;
}
.bbox-wzk2{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 3%;
    top: 10%;
    /* background-color: #ffffff; */
    z-index: 4;
}

.img-x1{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}
.img-x1:hover{
    transform: scale(1.3) rotate(10deg);
}


.a {
    width: 950px;
    height: 300px;
    position: absolute;
    z-index: 50;
    /* background-color: red; */
    transition: 0.5s ease;
}

.d{
    width: 110%;
}


/* .b, .c, .img-x1 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    background-color: #000;
} */

/* .b:hover, .c:hover {
    transform: scale(1.2);
} */


/* .item2{
    position: absolute;
    left: -290px;
    top: 190px;
    width: 500px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.418);
    transform: rotate(-45deg);
    transform-origin: 10px 0px;
    transition: 0.5s;
    filter: blur(25px);/*模糊*/
/* } */

.a:hover .item2{
    left: 190px;
}



.cmdh{
    display: flex;
}

.cmdh1{
    width: 120px;
    height: 85px;
    /* background-color: #000000; */
    opacity: 1;
    position: relative;
    top: -70px;
    left: 0px;
    z-index: 100;
    /* overflow: hidden; */
}
.ys1{
    width: 120px;
    height: 10px;
    background-color: #000000;
    opacity: 1;
    position: relative;
    top: 75px;
    left: -120px;
    z-index: 100;
    transition: 0.5s ease;
    /* border-radius: 25px; */
}
.cmdh1:hover .ys1{
    /* opacity: 1; */
    left: -6px;
}
.cmdh1:hover{
    height: 300px;
}


.hexi{
    width: 46px;
    height: 50px;
    position: relative;
}

.cmdh11{
    width: 120px;
    height: 85px;
    /* background-color: #000000; */
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
    overflow: hidden;
}
.cmdh22{
    width: 72px;
    height: 85px;
    /* background-color: #000000; */
    opacity: 1;
    position: relative;
    top: 0px;
    left: -15px;
    z-index: 100;
    margin-left: 20px;
    margin-right: 53px;
    overflow: hidden;
}


.cmdh2{
    width: 72px;
    height: 85px;
    /* background-color: #000000; */
    opacity: 1;
    position: relative;
    top: -70px;
    left: 0px;
    z-index: 100;
    margin-left: 20px;
    margin-right: 53px;
    overflow: hidden;
}
.ys2{
    width: 75px;
    height: 10px;
    background-color: #000000;
    opacity: 1;
    position: relative;
    top: 75px;
    left: -100px;
    z-index: 100;
    transition: 0.5s ease;
    /* border-radius: 25px; */
}
.cmdh2:hover .ys2{
    /* opacity: 1; */
    left: -6px;
}


.lieb{
    width: 72px;
    height: 300px;
    /* background-color: #000000; */
    background-color: #ffffff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    /* box-shadow: 4px 9px 15px rgba(0, 0, 0, 0.5); */
    opacity: 0;
    position: fixed;
    top: 300px;
    left: 750px;
    transition: 0.5s ease;
    text-align: center;
    /* overflow: hidden; */
    transform-origin: center top;
}
.lieb-b{
    width: 72px;
    height: 10px;
    background-color: #000000;
    background-color: #2600ff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    /* box-shadow: 4px 9px 15px rgba(0, 0, 0, 0.5); */
    opacity: 1;
    position: fixed;
    top: -20px;
    left: 0px;
    transition: 0.5s ease;
    text-align: center;
    /* overflow: hidden; */
    
}

.cmdh1:hover .lieb{
    width: 72px;
    height: 185px;
    opacity: 1;
    top: 105px;
    left: 750px;
    animation: lieb-dh 1s ease both;
}
@keyframes lieb-dh{
    0%{
        transform: scale(0,1.5);
    }
    50%{
        transform: scale(1.1,0.9);
    }
    100%{
        transform: scale(1,1);
    }
}
.cmdh1:hover .lieb-1{
    /* margin-top: 20px; */
    animation: lieb-1 1s ease;
}
@keyframes lieb-1{
    0%{
        margin-top: 80px;
    }
    50%{
        margin-top: 15px;
    }
    100%{
        margin-top: 20px;
    }
}
.lieb-1{
    width: 140px;
    height: 15px;
    /* background-color: #000000; */
    margin-top: 20px;
    transition: 0.8s ease;

}
.lieb a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    transition: 2s ease;
    /* text-align: center; */
}


/* .zz a{
    background-color: #000;
    width:3%;
    height: 100%;
    opacity: 0.2;
} */




.kwdh{
    width: 900px;
    height: 100px;
    position: absolute;
    top: 200px;
    /* background: #000; */
    display: flex;  
    font-size: 160px;
    font-family: 华文琥珀;
    z-index: 1;
}

.kwdh-b{
    width: 900px;
    height: 100px;
    position: absolute;
    top: 390px;
    /* background: #000; */
    display: flex;  
    font-size: 160px;
    font-family: 华文琥珀;
    z-index: 1;
}

.kwdh-1,.kwdh-2{
    width: 120px;
    height: 190px;
    /* margin: 10px; */
    /* background: #000; */
    overflow: hidden;
    transition: 0.5s ease;
}



.wdh-0 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-0 0.5s  ease 1s both;
}
@keyframes wdh-0{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-1 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-1 0.5s  ease 1.1s both;
}
@keyframes wdh-1{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-2 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-2 0.5s  ease 1.2s both;
}
@keyframes wdh-2{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-3 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-3 0.5s  ease 1.3s both;
}
@keyframes wdh-3{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-4 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-4 0.5s  ease 1.4s both;
}
@keyframes wdh-4{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-5 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-5 0.5s  ease 1.5s both;
}
@keyframes wdh-5{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-6 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-6 0.5s  ease 1.6s both;
}
@keyframes wdh-6{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-7 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-7 0.5s  ease 1.7s both;
}
@keyframes wdh-7{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-8 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-8 0.5s  ease 1.7s both;
}
@keyframes wdh-8{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-9 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-9 0.5s  ease 1.8s both;
}
@keyframes wdh-9{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-10 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-10 0.5s  ease 1.9s both;
}
@keyframes wdh-10{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}
.wdh-11 p{
    width: 290px;
    height: 250px;
    margin: 20px;
    animation:wdh-11 0.5s  ease 2s both;
}
@keyframes wdh-11{
    0%{
        transform: translateY(190px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}

