body{
    color: #fff;
}

/* 通用CSS合集↑ */

.wh100,.box-n-2 img{
    width: 100%;
    height: 100%;
}
.po-r{
    position: relative;
}
.df{
    display: flex;
}
.jjws{
    font-size: 10px;
    overflow: hidden;        /* 超出部分隐藏 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
    white-space: nowrap;     /* 规定段落中的文本不进行换行 */
    display: block;          /* 转换为块级元素 */
}
a{
    text-decoration: none;
    color: #000;
}
h3{
    color: #000;
    font-weight: 500;
}
.bt div{
    z-index: 55;
}

/* 通用CSS合集↓ */

/* 侧边栏↑ */
.Tbox{
    width: 100%;
    height: 100px;
}
.Tbox span{
    font-size: 50px;
    font-weight: 700;
    color: #000;
    position: relative;
    top: 50%;
    left: 15%;
    font-family: 华文琥珀;
    transform: translate(-50%,-50%);
}
.bt{
    width: 300px;
    height: 120%;
    position: fixed;
    top: -20px;
    left: -20px;
    background: #ffffff;
    box-shadow: 4px 9px 15px rgba(0, 0, 0, 0.5);
    z-index: 55;
    float: left;
}
.bt-1 ul{
    position: fixed;
    left: -80px;
    top: 120px;
}
.bt-1 li{
    width: 300px;
    height: 60px;
}
.bt-1 a{
    margin: 0 40px;
    padding: 10px 70px;
    position: relative;
    border-radius: 15px;
    left: 20px;
    background: #ffffff;
    text-decoration: none;
    color: #000;
    transition: 0.5s ease;
}
.bt-1 span{
    /* color: #000000; */
    font-weight: 700;
    font-size: 20px;
}
.bt-1 a:hover{
    background: #000000;
    color: #ffffff;
}
.icon-you{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(icon/right.ico) no-repeat;
    /* position: relative; */
}
/* 侧边栏↓ */



/* 主页↑ */
.qbox{
    width: 80%;
    height: 100%;
    /* background: #000000; */
    /* position: absolute;
    left: 30px; */
    /* margin-left: 280px; */
    z-index: 1;
    float: right;
}
.zz{
    width: 380px;
    height: 100%;
    position: relative;
    /* background: #000; */
}
.flbt{
    width: 100%;
    height: 40px;
    position: relative;
    left: 40px;
    /* background: #000; */
}
.qbox-1{
    width: 100%;
    height: 100%;
    /* background: #000000; */
    position: relative;
    top: 100px;
    /* left: 300px; */
    z-index: 2;
}
.qbox-2{
    width: 100%;
    height: 230px;
    /* margin: 0 auto; */
    position: relative;
    /* margin: 0 auto; */
    /* justify-content: center; */
/* 将元素在容器中垂直居中对齐，并在容器中均匀分布 */
    /* align-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap; */
    z-index: 3;
    /* background: #bda9a9; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.box{
    /* width: 17%; */
    height: 110px;
    position: relative;
    /* margin: 12px; */
}
.box-1{
    background: #ffffff;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
    transition: 0.5s ease;
}
.box-2{
    width: 100%;
    overflow: hidden;
}
.box-n{
    box-sizing: border-box;
    position: relative;
    padding: 8px 16px;
}
.box-n-1{
    height: 70%;
    /* background: #000; */
}
.box-bq{
    width: 100%;
    height: 23px;
    margin-top: 8px;
    border-top: 1px solid #9b9b9b;
    display: flex;
}
.box-bq1{
    width: 60%;
    height: 100%;
    display: flex;
}
.cpdh{
    position: relative;
    top: 5px;
    left: 10px;
}
.box-xq{
    width: 45px;
    height: 50px;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    left: -15px;
    z-index: 99;
    transform: translateY(20px);
}
.box-xq p{
    text-align: center;
    background: #000;
    border-radius: 5px;
    padding: 5px 2px;
    color: #fff;
    z-index: 99;
}
.cpdh:hover .box-xq{
    opacity: 1;
    transform: translateY(0px);
    z-index: 99;

}
.box-n-2{
    width: 60px;
    height: 60px;
    margin-right: 8px;
}
.box-n-2 img{
    width: 60px;
    height: 60px;
}
.box-n-3{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
}

.box-1:hover{
    transform: translateY(-20px) scale(1.1);
}
/* 主页↓ */