<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		h3{
			font-weight:normal;
		
		}
	
		ul li{
			list-style: none;
			line-height: 32px;
		}

		ul li a{
			text-decoration: none;
			color:black;
		}

		.a{
			color:red;
		}
		.b{
			color: chocolate;
		}
		.c{
			color: blueviolet;
		}
	</style>
</head>
<body>
	<h3>头条热搜</h3>
	<hr>
	<ul>
		<li class="a">1<a href="">头条热搜头条热搜头条热搜头条热搜头条热搜</a><img src="" alt=""></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="b">2<a href="">头条热搜头条热搜头条热搜头条热搜</a></li>
		<li class="c">3<a href="">微博热搜微博热搜微博热搜微博热搜</a></li>
		
	</ul>
</body>
</html>