#father li{
	list-style: square;
	color: red;
} 
.xxz{
	width: 10;
	height: 40;
}
.xx{
	
	color: cornflowerblue;
	border-bottom: 5px solid cornflowerblue;
	border-width: 3px;
	border-bottom-width:15px
	border-radius: 45px;
	line-height: 44px ;
}
.xc{
	font-weight: 700;
}
``
.xzc{
	width: 10;
	height: 40;
	color: aquamarine;
}3