	*{
	padding:0px;
	margin:0px;
	}
	li{
	list-style:none;
	}
	a{
	text-decoration:none;
	}
	.a{
	width:1200px;
	height:1643px;
	background-color:red;
	}
	.b{
	width:1200px;
	height:60px;
	background-color:pink;
	}
	.b img{
	margin-left:256;
	float:left;
	margin-top:15px;
	}
	ul li{
	float:left;
	margin-left:110px;
	margin-top:20px;
	}
	.c{
	width:1200px;
	height:447px;
	}
	.d{
	width:1200px;
	height:164px;
	background-color:green;
	border-top: 1px solid white;
	}
	.e{
	margin-left:500;
	margin-top:70;
	font-size:20px;
	}
	.q{	
	width:1200px;
	height:364px;
	background-color:yellow;
	}
	.l{
	margin-left:200px;
	margin-top:180px;

	}
	.m{
	width:226;
	height:364;
	background-color:pink;
	margin-left:245;
	}
